<%= form_tag profile_update_path, method: :patch do %>
  <%=
    render partial: 'partials/user_form_template', locals: {
      name: current_user.name,
      street: current_user.addresses.street,
      city: current_user.addresses.city,
      state: current_user.addresses.state,
      zip: current_user.addresses.zip,
      email: current_user.email
    }
  %>
  <p><%= submit_tag "Update Profile" %></p>
<% end %>
